@page
@model IdentityProject.Areas.Identity.Pages.InventoryManagent.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>IdentityProjectInventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.ItemPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.ItemPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.ItemPerUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.ItemPerUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.ItemTaxable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.ItemTaxable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.ItemQnty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.ItemQnty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.Createdat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.Createdat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.Createdby)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.Createdby)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.Updatedat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.Updatedat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.Updatedby)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.Updatedby)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityProjectInventory.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityProjectInventory.Customer.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IdentityProjectInventory?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
